{% extends "common/layout_user.html" %}
{% block content %}
<div class="container">
    <!-- <div class="row">
        <div class="col-md-6">
            <h2 class="font-bold">img</h2>
            <div class="row">
                <a href="javascript:woid(0)" >
                    <img src="" alt="图片" width="200px" height="200px">
                </a>
            </div>
        </div>
        <div class="col-md-6"> -->
            <div class="ibox-content" style="height:500px;">
                <div class="m-t login_wrap">
                    <div class="font-group text-center">
                        <h2 class="font-bold" style="height:60px">登录</h2>
                    </div>
                    <div class="form-group" style="height:60px">
                        <label for="exampleInputUsername">用户名</label>
                        <input type="text" name="login_name" class="form-control" id="exampleInputUsername" placeholder="请输入用户名">
                    </div>
                    <div class="form-group" style="height:60px">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" name="login_pwd" class="form-control" id="exampleInputPassword1" placeholder="请输入密码">
                    </div>
                    <button type='button' class='btn btn-primary block full-width m-b do-login'>登录</button>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <div class="row" style="width:1140px;left:50%;margin-left:-570px;position:absolute">
        <div class="'col-md-6" style="text-align:center;float:left">
            {{ config.SEO_TITLE }}<a href="{{ buildUrl('/') }}" target="_blank">Powered By 1901</a>
        </div>
        <div class="'col-md-6 text-right" style="text-align:center;float:right">
            <small>&copy;1901c-2020</small>
        </div>
    </div>
</div>

{% endblock %}

{% block js %} 
<script src="{{ buildStaticUrl('/js/user/login.js') }}"></script>
{% endblock %}